// Imports
// --------------------------------------------------------------
@import "variables/colors.scss";
@import "luxbar-min.css";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global element stylings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $background-dark;
  color: $white;
  max-width: 75em;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 2.5rem;
}

a {
  color: $green;
}

a,
li,
button {
  text-decoration: none;
  list-style: none;
}

/** Page Transitions */
.page {
  &-enter-from {
    opacity: 0;
    transform: translateY(-10px);
  }

  &-enter-active,
  &-leave-active {
    transition: all 0.2s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
