

$white: #ffffff;

$black: #000000;

$background-dark: #23272a;

$silver: #EDF2F4;

$orange: #FF686B;

$blue: #A9DEF9;

$green: #C9F2C7;

$pink: #E4C1F9;

// $green-20: #ACECA1;
// $green-40: #96BE8C;
// $green-60: #629460;
// $green-80: #243119;


