

$white: #ffffff;

$black: #000000;

$dark-grey-20: #2C2F33;
$dark-grey-40: #23272A;

$silver: #EDF2F4;

$red: #D01B39;

$blue: #118AB2;

$green: #C9F2C7;

$orange: #EC6A49;

// $green-20: #ACECA1;
// $green-40: #96BE8C;
// $green-60: #629460;
// $green-80: #243119;


